<% @merchants.each do |merchant| %>
  <ul>
    <li> <%= merchant.username %> </li>
    <li> <%= merchant.email %> </li>
    <li> <%= merchant.provider %> </li>
    <li> <%= merchant.uid %> </li>
  </ul>
<% end %>
