<h1><%= @merchant.username %>'s store</h1>
<aside><em>You can reach this seller at <%= @merchant.email %></em></aside>

<h2>Products sold:</h2>
<table class="products-table">
  <tr>
    <th>Product Name</th>
    <th></th>
  </tr>
</table>
