<h1><%= @merchant.username %>'s store</h1>
<aside><em>You can reach this seller at <%= @merchant.email %></em></aside>

<h2>Products sold:</h2>
<table class="products-table">
  <tr>
    <th>Product Name</th>
    <th>Product Page</th>
  </tr>
  <% @merchant.products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to "View Page", product_path(product) %></td>
  </tr>

  <% end %>
</table>
